[Unit]
Description=Jack-Server
After=defaults.service
Wants=defaults.service

[Service]
Type=simple
User=jacktrip
Group=audio
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
Nice=-20
#IOSchedulingClass=realtime
#IOSchedulingPriority=0
Environment="JACK_NO_AUDIO_RESERVATION=1"
Environment="JACK_PROMISCUOUS_SERVER=audio"
EnvironmentFile=/etc/default/jack
ExecStart=/usr/local/bin/jackd $JACK_OPTS
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jack
LimitMEMLOCK=infinity
LimitRTPRIO=99
LimitNOFILE=200000
LimitNPROC=200000

[Install]
WantedBy=multi-user.target
