# editor files
.vscode

# QtCreator user files
*.pro.user
*.pro.user.*

# build directory
builddir/

# kdevelop directory
.kdev4

# Ignore mkdocs build
site/

# macOS files
.DS_Store

# app bundle and installer
macos/*.app
macos/package/build
macos/package/*.pkgproj
macos/package/*.txt
macos/build_installer.sh
macos/remove-creds.patch
macos/sign-stuff-withcreds.sh

# windows deploy files
win/deploy

# meson subproject files
subprojects/packagecache/
subprojects/rtaudio-5.*/
subprojects/rtaudio-6.*/
subprojects/wingetopt/
