# QtCreator user files
*.pro.user
*.pro.user.*

# build directory
builddir/

# IDE directories
.kdev4
.vscode

# Clangd Cache
.cache

# Meson subprojects
subprojects/rtaudio/
subprojects/wingetopt/

# Ignore mkdocs build
site/

# macOS files
.DS_Store

# app bundle and installer
macos/*.app
macos/package/build
macos/package/*.pkgproj
macos/package/*.txt

# windows deploy files
win/deploy
