[submodule "subprojects/weakjack"]
	path = externals/weakjack
	url = https://github.com/x42/weakjack.git
[submodule "documentation/doxygen-awesome-css"]
	path = externals/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "externals/rtaudio"]
	path = externals/rtaudio
	url = https://github.com/thestk/rtaudio.git
