os:
  - linux
  - osx

language: 
  - cpp

# force updated ubuntu distribution with up-to-date gcc
dist: bionic

branches:
  - master
  - travis

env:
  global:
  - PKGS_OSX="jack qt rt-audio"
  
addons:
  apt:
    update: true
    packages:
      - qt5-default
      - qttools5-dev-tools
      - libjack-dev 
      - librtaudio-dev

before_script:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then 
      # manually install brew packages as addon: homebrew is broken in the default osx image
      brew install $PKGS_OSX;
      # mac: workaround for homebrew qmake not being symlinked into $PATH
      # see https://stackoverflow.com/questions/48847505/why-cant-i-use-qmake-on-mac-after-installing-it
      export PATH="/usr/local/opt/qt/bin:$PATH";
    fi

script: 
  - cd src
  - ./build
  
after_success:
  - echo "Success!"

after_failure:
  - echo "Something went wrong :("
