<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>JackTrip.vst3</string>
	<key>CFBundleDisplayName</key>
	<string>JackTrip Audio Bridge</string>
	<key>CFBundleGetInfoString</key>
	<string>JackTrip Audio Bridge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIdentifier</key>
	<string>%BUNDLEID%</string>
	<key>CFBundleName</key>
	<string>%BUNDLENAME%</string>
	<key>CFBundleVersion</key>
	<string>%VERSION%</string>
	<key>CFBundleShortVersionString</key>
	<string>%VERSION%</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024-2025 JackTrip Labs, Inc.</string>
</dict>
</plist>
