<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>jacktrip</string>
	<key>CFBundleIconFile</key>
	<string>jacktrip</string>
	<key>CFBundleGetInfoString</key>
	<string>JackTrip Desktop App</string>
	<key>CFBundleIdentifier</key>
	<string>%BUNDLEID%</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>%BUNDLENAME%</string>
	<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
					<array>
						<string>jacktrip</string>
					</array>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
			</dict>
		</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>%VERSION%</string>
	<key>CFBundleShortVersionString</key>
	<string>%VERSION%</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Juan-Pablo Caceres, Chris Chafe, Aaron Wyatt, et al. All rights reserved.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>JackTrip requires microphone access to capture audio.</string>
	<key>NSCameraUsageDescription</key>
	<string>JackTrip requires camera access to capture video.</string>
</dict>
</plist>
