/.ninja*
/.qt
/qt-everywhere-src-*/
/openssl-build/
/openssl-src/
/qt.tar.xz
/openssl.tar.xz
/CMakeCache.txt
/CMakeFiles/
/qt*/
/*.cmake
/build.ninja
/cmake_install.cmake
/config.*
/install_manifest.txt
/qt5compat/
/qtbase/
/qtconnectivity/
/qtdeclarative/
/qthttpserver/
/qtnetworkauth/
/qtpositioning/
/qtquickeffectmaker/
/qtshadertools/
/qtsvg/
/qtwayland/
/qtwebchannel/
/qtwebsockets/
/qtwebview/