<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='JackTrip' Manufacturer='JackTrip'
        Id='*'
        UpgradeCode='70450e42-8a91-4c28-8f00-52c6b8e86e37'
        Language='1033' Codepage='1252' Version='$(var.Version)'>

        <Package Id='*' Keywords='Installer' Description='JackTrip Installer'
            Comments='Developed by SoundWIRE Group at CCRMA, Stanford' Manufacturer='JackTrip'
            InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
        <Media Id='1' Cabinet='JackTrip.cab' EmbedCab='yes' DiskPrompt='Disk 1' />
        <Property Id='DiskPrompt' Value='JackTrip Installer File' />
        <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version is already installed."
            AllowSameVersionUpgrades="no" />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='JackTrip'>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ProgramMenuDir' Name='JackTrip'>
                    <Component Id="ProgramMenuDir" Guid="2f25e96a-47a5-4eca-b367-a78ce536d9b9">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='NormalInstall' Title='JackTrip' Description='Standard Install'
            Level='1' ConfigurableDirectory='INSTALLDIR'>
            <ComponentGroupRef Id='jacktrip' />
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>

        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch JackTrip" />
        <Property Id="WixShellExecTarget" Value="[INSTALLDIR]\jacktrip.exe" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

        <WixVariable Id='WixUIDialogBmp' Value='dialog.bmp' />
        <WixVariable Id='WixUILicenseRtf' Value='license.rtf' />
        <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />
        <UI>
            <UIRef Id='WixUI_InstallDir' />
            <Publish Dialog="ExitDialog"
                Control="Finish" 
                Event="DoAction" 
                Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <Icon Id='jacktrip.exe' SourceFile='jacktrip.exe' />
    </Product>
</Wix>
