[Desktop Entry]
Type=Application
Name=JackTrip
Comment=Network Music Performance over the Internet
Comment[fr]=Performance de musique en réseau sur internet
Exec=jacktrip
Icon=jacktrip
Terminal=false
