name: build
on:
  push:
    branches:
      - main
      - dev
    tags:
      - '**'
    paths-ignore:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'documentation/**'
      - 'scripts/**'
      - 'README**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'documentation/**'
      - 'scripts/**'
      - 'README**'
  workflow_dispatch:
  schedule:
    - cron:  '* * * * 0' # run weekly to refresh static Qt cache
jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false # don't abort if one of the build failse
      matrix:
        include:
          - name: Linux-x64
            runs-on: ubuntu-18.04
            static-qt-version: 5.12.11 # if set, it will enable static Qt build
            qt-static-cache-key: 'v22' # required for static qt; update this to force rebuilding static Qt
            jacktrip-path: jacktrip
            binary-path: binary

          - name: Linux-x64-dynamic-nogui
            runs-on: ubuntu-18.04
            jacktrip-path: jacktrip
            binary-path: binary
            nogui: true

          # - name: macOS-dynamic
          #   runs-on: macos-10.15
          #   rtaudio: true
          #   jacktrip-path: jacktrip

          - name: macOS-x64
            runs-on: macos-10.15
            rtaudio: true
            static-qt-version: 5.12.11 # if set, it will enable static Qt build
            qt-static-cache-key: 'v05' # required for static qt; update this to force rebuilding static Qt
            weakjack: true
            jacktrip-path: jacktrip # relative to build path
            binary-path: binary # directory relative to build path; triggers artifact upload for jacktrip binary
            bundle-path: bundle # directory relative to build path; triggers application bundle creation and upload (macOS)
            installer-path: installer # directory relative to build path; triggers installer creation and upload

          # - name: Windows-dynamic
          #   runs-on: windows-2019
          #   rtaudio: true
          #   jacktrip-path: release/jacktrip.exe

          - name: Windows-x64
            # suffix: installer
            runs-on: windows-2019
            rtaudio: true
            static-qt-version: 5.15.2
            qt-static-cache-key: 'v04' # required for static qt; update this to force rebuilding static Qt
            weakjack: true
            jacktrip-path: release/jacktrip.exe
            binary-path: binary # directory relative to build path; triggers artifact upload for jacktrip binary
            installer-path: installer # directory relative to build path; triggers installer creation and upload

    env:
      BUILD_PATH: ${{ github.workspace }}/builddir
      QT_VERSION: '5.15.2' # for dynamic qt installer using install-qt-action
      DEVELOPER_DIR: '/Applications/Xcode_11.7.app/Contents/Developer' # specify XCode version on macOS
      QT_SRC_PATH: ${{ github.workspace }}/../qt-static-src
      QT_STATIC_BUILD_PATH: ${{ github.workspace }}/../qt-static
      QT_STATIC_OPTIONS: '-static -release -optimize-size -no-pch -nomake tools -nomake tests -nomake examples -opensource -confirm-license -skip webengine -skip qt3d -skip qtactiveqt -skip qtandroidextras -skip qtcharts -skip qtdatavis3d -skip qtdeclarative -skip qtdoc -skip qtgamepad -skip qtgraphicaleffects -skip qtimageformats -skip qtlocation -skip qtmultimedia -skip qtpurchasing -skip qtpurchasing -skip qtquickcontrols -skip qtquickcontrols2 -skip qtremoteobjects -skip qtscript -skip qtsensors -skip qtserialbus -skip qtserialport -skip qtspeech -skip qtsvg -skip qttools -skip qtvirtualkeyboard -skip qtwebchannel -skip qtwebengine -skip qtwebglplugin -skip qtwebsockets -skip qtwebview -skip qtxmlpatterns' # common for all platforms
      
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: set version string for artifacts
        shell: bash
        id: set-version
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION=$GITHUB_SHA
          fi
          echo "::set-output name=version::$VERSION"
      - name: install dependencies for Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install --yes libjack-dev
          if [[ -n "${{ matrix.static-qt-version }}" ]]; then 
            sudo apt-get install --yes libfreetype6-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev libx11-xcb-dev libdrm-dev libglu1-mesa-dev libwayland-dev libwayland-egl1-mesa libgles2-mesa-dev libwayland-server0 libwayland-egl-backend-dev libxcb1-dev libxext-dev libfontconfig1-dev libxrender-dev libxcb-keysyms1-dev libxcb-image0-dev libxcb-shm0-dev libxcb-icccm4-dev libxcb-render-util0-dev libxcb-xinerama0-dev libxcomposite-dev libgtk-3-dev
          else
            sudo apt-get install --yes qt5-default qt5-qmake qttools5-dev
          fi
      - name: install dependencies for macOS
        if: runner.os == 'macOS'
        env:
          HOMEBREW_NO_ANALYTICS: 1
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1
        run: |
          # brew install jack
          # instead of using homebrew, install jack 1.9.16 from the installer, which should provide compatibility with both jackosx and the newer jack2
          curl -L https://github.com/jackaudio/jack2-releases/releases/download/v1.9.16/jack2-macOS-v1.9.16.tar.gz -o jack2.tar.gz
          tar -xf jack2.tar.gz
          sudo installer -pkg jack2-osx-1.9.16.pkg -target /
          if [[ -z "${{ matrix.static-qt-version }}" ]]; then 
            brew install qt5
            brew link qt5 --force
          fi
          if [[ "${{ matrix.rtaudio }}" == true ]]; then 
            brew install rt-audio
            rm -f `brew --prefix rt-audio`/lib/*.dylib # remove the dynamic library, we want static only
          fi
          if [[ -n ${{ matrix.installer-path }} ]]; then
            brew install packages
          fi
      - name: install dependencies for Windows
        if: runner.os == 'Windows'
        shell: bash
        run: |
          choco install jack --version=1.9.17
          choco install openssl
          if [[ "${{ matrix.rtaudio }}" == true ]]; then 
            choco install pkgconfiglite
            vcpkg install rtaudio[asio] --triplet=x64-mingw-static
            echo "PKG_CONFIG_PATH=$VCPKG_INSTALLATION_ROOT\installed\x64-mingw-static\lib\pkgconfig" >> $GITHUB_ENV
          fi
      - name: cache Qt
        id: cache-qt
        if: runner.os == 'Windows' && '!matrix.static-qt-version'
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: ${{ runner.os }}-QtCache-${{ env.QT_VERSION }}
      - name: install Qt
        uses: jurplel/install-qt-action@v2
        if: runner.os == 'Windows' && '!matrix.static-qt-version'
        with:
          version: ${{ env.QT_VERSION }}
          arch: 'win64_mingw81'
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
      - name: cache static Qt
        id: cache-static-qt
        if: matrix.static-qt-version
        uses: actions/cache@v1
        with:
          path: ${{ env.QT_STATIC_BUILD_PATH }}
          key: ${{ runner.os }}-QtStaticCache-${{ matrix.static-qt-version }}_${{ matrix.qt-static-cache-key }}
      - name: download Qt sources
        if: matrix.static-qt-version && steps.cache-static-qt.outputs.cache-hit != 'true'
        shell: bash
        run: |
          QT_FULL_VERSION=${{ matrix.static-qt-version }}
          QT_MAJOR_MINOR_VERSION=`echo $QT_FULL_VERSION | cut -d '.' -f1-2`
          QT_SRC_URL="https://download.qt.io/official_releases/qt/$QT_MAJOR_MINOR_VERSION/$QT_FULL_VERSION/single/qt-everywhere-src-$QT_FULL_VERSION.tar.xz"
          echo "Downloading Qt source from $QT_SRC_URL"
          curl -L $QT_SRC_URL -o qt.tar.xz
          echo "Unpacking Qt source"
          tar -xf qt.tar.xz
          # move qt to a known location
          mv qt-everywhere* $QT_SRC_PATH
      - name: build static Qt on Linux / macOS
        if: matrix.static-qt-version && steps.cache-static-qt.outputs.cache-hit != 'true' && runner.os != 'Windows'
        run: |
          mkdir $QT_STATIC_BUILD_PATH
          # configure
          if [[ "${{ runner.os }}" == "Linux" ]]; then
            QT_STATIC_OPTIONS="-qt-zlib -qt-libpng -qt-libjpeg -system-freetype -fontconfig -qt-pcre -qt-harfbuzz -no-icu -opengl desktop $QT_STATIC_OPTIONS"
          fi
          "$QT_SRC_PATH/configure" -prefix "$QT_STATIC_BUILD_PATH" $QT_STATIC_OPTIONS
          # build
          echo "building Qt"
          make -j4
          # install
          echo "installing Qt"
          make install
      - name: build static Qt on Windows
        if: matrix.static-qt-version && steps.cache-static-qt.outputs.cache-hit != 'true' && runner.os == 'Windows'
        shell: cmd
        run: |
          mkdir %QT_STATIC_BUILD_PATH%
          call "%QT_SRC_PATH%/configure.bat" -static-runtime -opengl desktop -platform win32-g++ -prefix "%QT_STATIC_BUILD_PATH%" -openssl OPENSSL_PREFIX="C:\Program Files\OpenSSL-Win64" %QT_STATIC_OPTIONS%
          echo "building Qt"
          mingw32-make -j4
          echo "installing Qt"
          mingw32-make install
      - name: set Qt environment variables
        shell: bash
        run: |
          if [[ -n "${{ matrix.static-qt-version }}" ]]; then 
            echo "$QT_STATIC_BUILD_PATH/bin" >> $GITHUB_PATH
          elif [[ "${{ runner.os }}" == "macOS" ]]; then
            echo "`brew --prefix qt5`/bin" >> $GITHUB_PATH
          else
            echo "$Qt5_DIR/bin" >> $GITHUB_PATH
          fi
      - name: build JackTrip
        shell: bash
        run: |
          CONFIG_STRING="noclean"
          if [[ -n "${{ matrix.static-qt-version }}" ]]; then 
            CONFIG_STRING="static $CONFIG_STRING"
          fi
          if [[ "${{ matrix.rtaudio }}" == true ]]; then 
            CONFIG_STRING="rtaudio $CONFIG_STRING"
          fi
          if [[ "${{ matrix.nojack }}" == true ]]; then 
            CONFIG_STRING="nojack $CONFIG_STRING"
          fi
          if [[ "${{ matrix.nogui }}" == true ]]; then 
            CONFIG_STRING="nogui $CONFIG_STRING"
          fi
          if [[ "${{ matrix.weakjack }}" == true ]]; then 
            CONFIG_STRING="weakjack $CONFIG_STRING"
          fi
          ./build $CONFIG_STRING
      - name: compress the binary
        shell: bash
        if: matrix.binary-path
        run: |
          mkdir -p $BUILD_PATH/${{ matrix.binary-path }}
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            7z a $BUILD_PATH/${{ matrix.binary-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-binary.zip -tzip $BUILD_PATH/${{ matrix.jacktrip-path }} $GITHUB_WORKSPACE/LICENSE.md $GITHUB_WORKSPACE/LICENSES/
          else
            zip -j $BUILD_PATH/${{ matrix.binary-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-binary.zip $BUILD_PATH/${{ matrix.jacktrip-path }}
            cd $GITHUB_WORKSPACE # we need to be in the root project directory for adding licenses
            zip -r $BUILD_PATH/${{ matrix.binary-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-binary.zip LICENSE.md LICENSES
          fi
      - name: create app bundle and installer on macOS
        if: runner.os == 'macOS' && (matrix.bundle-path || matrix.installer-path)
        run: |
          CONFIG=
          if [[ -n "${{ matrix.installer-path }}" ]]; then 
            CONFIG="-i $CONFIG"
          fi
          cd macos
          ./assemble_app.sh $CONFIG
          if [[ -n ${{ matrix.bundle-path }} ]]; then
            mkdir -p $BUILD_PATH/${{ matrix.bundle-path }}
            zip --symlinks -r $BUILD_PATH/${{ matrix.bundle-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-application.zip *.app
            cd $GITHUB_WORKSPACE # we need to be in the root project directory for adding licenses
            zip -r $BUILD_PATH/${{ matrix.bundle-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-application.zip LICENSE.md LICENSES
          fi
          if [[ -n ${{ matrix.installer-path }} ]]; then
            cd $GITHUB_WORKSPACE/macos
            mkdir -p $BUILD_PATH/${{ matrix.installer-path }}
            cp -R package/build/*.pkg $BUILD_PATH/${{ matrix.installer-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-installer.pkg
          fi
      - name: create installer on Windows
        if: runner.os == 'Windows' && matrix.installer-path
        shell: cmd
        run: |
          cd win
          call "build_installer.bat"
          bash -c "mkdir -p $BUILD_PATH/${{ matrix.installer-path }}"
          bash -c "cp deploy/*.msi $BUILD_PATH/${{ matrix.installer-path }}/JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-installer.msi"
      - name: upload jacktrip binary
        uses: actions/upload-artifact@v2
        if: matrix.binary-path
        with:
          name: JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-binary
          path: ${{ env.BUILD_PATH }}/${{ matrix.binary-path }}
      - name: upload application bundle
        uses: actions/upload-artifact@v2
        if: matrix.bundle-path
        with:
          name: JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-application
          path: ${{ env.BUILD_PATH }}/${{ matrix.bundle-path }}
      - name: upload installer
        uses: actions/upload-artifact@v2
        if: matrix.installer-path
        with:
          name: JackTrip-${{ steps.set-version.outputs.version }}-${{ matrix.name }}-installer
          path: ${{ env.BUILD_PATH }}/${{ matrix.installer-path }}
  # release - list of files uploaded to GH release is specified in the *upload* step
  deploy_gh:
    if: startsWith(github.ref, 'refs/tags/') # run on tagged commits
    needs: build
    runs-on: ubuntu-18.04
    name: 'deploy release'
    env:
      DOWNLOAD_PATH: ${{ github.workspace }}/Install
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v2
        with:
          path: ${{ env.DOWNLOAD_PATH }} # no "name" paramter - download all artifacts
      - name: upload to the release page
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.DOWNLOAD_PATH }}/JackTrip*Linux-x64-binary/*
            ${{ env.DOWNLOAD_PATH }}/JackTrip*macOS-x64-binary/*
            ${{ env.DOWNLOAD_PATH }}/JackTrip*macOS-x64-application/*
            ${{ env.DOWNLOAD_PATH }}/JackTrip*macOS-x64-installer/*
            ${{ env.DOWNLOAD_PATH }}/JackTrip*Windows-x64-binary/*
            ${{ env.DOWNLOAD_PATH }}/JackTrip*Windows-x64-installer/*
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
